dist/index.html
<!DOCTYPE html><html lang="ru"><head><meta charset="UTF-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width, initial-scale=1"><!-- Вот эту пометку не понял--><meta property="og:site_name" content=""><meta property="og:title" content=""><meta property="og:description" content=""><meta property="og:type" content="website"><link rel="stylesheet" href="css/style.css"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.carousel.min.css"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.theme.default.min.css"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto"><title>Агенство Евгения Румянцева</title></head><body><header class="page-header"><div class="container"><img class="page-header__logo" src="img/logo-w.png" alt=""><h1 class="page-header__title">Агенство<br>Евгения<br>Румянцева</h1><h5 class="page-header__sub">Я и моя команда работаем на результат.<br><span>Мы делаем так, чтобы именно Ваш бизнес стал<br>топовым в нише.</span></h5><a class="js-scroll page-header__scroll-down sprite-mouse sprite" href="#content"></a></div></header><section class="about" id="content"><div class="container"><div class="textbox"><h2 class="textbox__title">О нас</h2><div class="textbox__text"><p>Работаем с проектами, которые помогают клиентам жить лучше.</p><p>Интернет-маркетинг может приносить миллионы чистой прибыли и наоборот, если он в “плохих руках”.</p><p>Моя цель найти, тот инструмент, который будет наиболее эффективно работать в вашей нише, внедрить его и увеличить вам чистую прибылью.</p><p>Мое основное кредо в маркетинге: аналитика и возврат клиентов</p></div></div></div></section><section class="partners"><div class="container"><h2 class="section">Наши партнёры</h2><div class="partners-carousel"><div class="owl-nav" id="customNav"></div><div class="owl-carousel"><img class="owl-carousel__item" src="http://fakeimg.pl/250x100/"><img class="owl-carousel__item" src="http://fakeimg.pl/250x100/"><img class="owl-carousel__item" src="http://fakeimg.pl/250x100/"></div><!--while length > 0//img(src="http://fakeimg.pl/250x100/")
//- --length
--></div></div></section><section class="begin"><div class="container"><div class="textbox"><h2 class="textbox__title textbox__title--dark">Как мы начнём?</h2><div class="textbox__text"><p>Прежде чем мы решим сотрудничать, я и моя команда изучим рынок, проанализируем состояние „сейчас”,  продукт и ваше виденье, как его развивать.</p><p>Основываясь на ваших требованиях, мы сможем предоставить полное предложение или только те части, которые вам действительно нужны.</p><p>Для любой проект - это проект с международным потенциалом.</p></div></div></div></section><section class="skills"><div class="container"><h2 class="textbox__title skillsbox__title">Что мы умеем</h2><div class="skillsbox"><div class="skill"><div class="skill__img sprite-pen sprite"></div><h4 class="skill__title">Возврат клиентов</h4><div class="skill__deck">Умею возвращать клментов с помощью:<ul><li>1) email маркетинга</li><li>2) push и webpush уведомлений</li><li>3) СМС и через мессенджеры</li><li>4) ретаргетинг и ремаркетинг</li></ul></div><div class="skill"><div class="skill__img sprite-window sprite"></div><h4 class="skill__title">Разработка сайтов</h4><div class="skill__deck"><p>Подберем домен и напишем сайт на чистом HTML с грамотным применением CSS.<br>Я ищу экспертов в верстке, которые работают на совесть.<br>Школьный труд не использую потому, что качества там мало, хотя цена может оказаться очень интересная. А стоит рисковать доходом или нет, решать только вам.</p></div></div><div class="skill"><div class="skill__img sprite-list sprite"></div><h4 class="skill__title">Оценка вашего маркетинга</h4><div class="skill__deck"><p>На основании своего опыта и знаний интернет-маркетинга международного                   уровня, мы подготовили систему анализа эффективности вашего интернет-                   маркетинга.</p><p>Мы можем за 48 часов оценить ваш интрнет-маркетинг и где находится его „золотая” жила,   которую стоит развить, чтобы получить больше прибыли за кротчайшие сроки.</p></div></div></div></div></div></section><section class="works"><div class="container-fluid"><div class="row"><div class="col-lg-4 works__block"><div class="works__item works__item-1"><div class="works__title">Topworkz</div></div></div><div class="col-lg-4 works__block"><div class="works__item works__item-2"><div class="works__title">Joint</div></div></div><div class="col-lg-4 works__block"><div class="works__item works__item-3"><div class="works__title">Market</div></div></div></div><div class="row"><div class="col-lg-4 works__block"><div class="works__item works__item-4"><div class="works__title">Worktop</div></div></div><div class="col-lg-4 works__block"><div class="works__item works__item-5"><div class="works__title">Label</div></div></div><div class="col-lg-4 works__block"><div class="works__item works__item-6"><div class="works__title">Kyiv</div></div></div></div></div></section><section class="contacts"><div class="container"><div class="textbox"><h2 class="textbox__title">Контакты</h2><div class="textbox__text"><p>Все рекламные услуги, которые поднимут Ваш бизнес с нуля</p><button class="textbox__button">Связаться с нами</button></div></div></div></section><footer class="page-footer"><div class="container"><img class="page-footer__logo" src="img/logo-b.png" alt=""><div class="page-footer__text">&copy; 2017. © Агенство Евгения Румянцева</div></div></footer><script src="https://code.jquery.com/jquery-2.2.4.min.js"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js"></script><script>$(document).ready(function(){
  $(".owl-carousel").owlCarousel({
    items: 3,
    margin:100,
    stagePadding: 130,
    dots: false,
    nav: true,
    navText: ['<i class="fa fa-angle-left" aria-hidden="true"></i>','<i class="fa fa-angle-right" aria-hidden="true"></i>'],
    navContainer: '#customNav',
  });
});

$('.js-scroll').click(function(event){
    $('html, body').animate({
        scrollTop: $( $.attr(this, 'href') ).offset().top
    }, 500);
    event.preventDefault();
});</script></body></html>

app/index.pug
doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    //- Разметка по умолчанию — лойс
    // Вот эту пометку не понял
    meta(property="og:site_name", content="")
    meta(property="og:title", content="")
    meta(property="og:description", content="")
    meta(property="og:type", content="website")

    link(rel="stylesheet", href="css/style.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.carousel.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.theme.default.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto")


    title Агенство Евгения Румянцева

  body

    header.page-header
      .container
        img.page-header__logo(src="img/logo-w.png" alt="")
        h1.page-header__title Агенство
          br
          | Евгения
          br
          | Румянцева
        h5.page-header__sub Я и моя команда работаем на результат.
          br
          span Мы делаем так, чтобы именно Ваш бизнес стал
            br
            | топовым в нише.
        a.js-scroll.page-header__scroll-down(href="#content").sprite-mouse.sprite

    section#content.about
      .container
        .textbox
          h2.textbox__title О нас
          .textbox__text
            p Работаем с проектами, которые помогают клиентам жить лучше.
            p Интернет-маркетинг может приносить миллионы чистой прибыли и наоборот, если он в “плохих руках”.
            p Моя цель найти, тот инструмент, который будет наиболее эффективно работать в вашей нише, внедрить его и увеличить вам чистую прибылью.
            p Мое основное кредо в маркетинге: аналитика и возврат клиентов
    section.partners
      .container
        h2.section Наши партнёры
        .partners-carousel
          #customNav.owl-nav
          .owl-carousel
            img.owl-carousel__item(src="http://fakeimg.pl/250x100/")
            img.owl-carousel__item(src="http://fakeimg.pl/250x100/")
            img.owl-carousel__item(src="http://fakeimg.pl/250x100/")
               
                
          //- var length = 8
          //while length > 0
            //img(src="http://fakeimg.pl/250x100/")
            //- --length

    section.begin
      .container
        .textbox
          h2.textbox__title.textbox__title--dark Как мы начнём?
          .textbox__text
            p Прежде чем мы решим сотрудничать, я и моя команда изучим рынок, проанализируем состояние „сейчас”,  продукт и ваше виденье, как его развивать.
            p Основываясь на ваших требованиях, мы сможем предоставить полное предложение или только те части, которые вам действительно нужны.
            p Для любой проект - это проект с международным потенциалом.

    section.skills
      .container
        h2.textbox__title.skillsbox__title Что мы умеем
        .skillsbox
          .skill
            .skill__img.sprite-pen.sprite
            h4.skill__title Возврат клиентов
            .skill__deck Умею возвращать клментов с помощью:
              ul
                li 1) email маркетинга
                li 2) push и webpush уведомлений
                li 3) СМС и через мессенджеры
                li 4) ретаргетинг и ремаркетинг
            .skill
              .skill__img.sprite-window.sprite
              h4.skill__title Разработка сайтов
              .skill__deck
                p Подберем домен и напишем сайт на чистом HTML с грамотным применением CSS.
                  br
                  | Я ищу экспертов в верстке, которые работают на совесть.
                  br
                  | Школьный труд не использую потому, что качества там мало, хотя цена может оказаться очень интересная. А стоит рисковать доходом или нет, решать только вам.
            .skill
              .skill__img.sprite-list.sprite
              h4.skill__title Оценка вашего маркетинга
              .skill__deck
                p На основании своего опыта и знаний интернет-маркетинга международного                   уровня, мы подготовили систему анализа эффективности вашего интернет-                   маркетинга.
                p Мы можем за 48 часов оценить ваш интрнет-маркетинг и где находится его „золотая” жила,   которую стоит развить, чтобы получить больше прибыли за кротчайшие сроки.

    section.works
      .container-fluid
        .row
          .col-lg-4.works__block
            .works__item.works__item-1
              .works__title Topworkz
          .col-lg-4.works__block
            .works__item.works__item-2
              .works__title Joint
          .col-lg-4.works__block
            .works__item.works__item-3
              .works__title Market
        .row
          .col-lg-4.works__block
            .works__item.works__item-4
              .works__title Worktop
          .col-lg-4.works__block
            .works__item.works__item-5
              .works__title Label
          .col-lg-4.works__block
            .works__item.works__item-6
              .works__title Kyiv

    section.contacts
      .container
        .textbox
          h2.textbox__title Контакты
          .textbox__text
            p Все рекламные услуги, которые поднимут Ваш бизнес с нуля
            button.textbox__button() Связаться с нами

    footer.page-footer
      .container
        img.page-footer__logo(src="img/logo-b.png" alt="")
        .page-footer__text &copy; 2017. © Агенство Евгения Румянцева

    script(src="https://code.jquery.com/jquery-2.2.4.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js")
    script.
      $(document).ready(function(){
        $(".owl-carousel").owlCarousel({
          items: 3,
          margin:100,
          stagePadding: 130,
          dots: false,
          nav: true,
          navText: ['<i class="fa fa-angle-left" aria-hidden="true"></i>','<i class="fa fa-angle-right" aria-hidden="true"></i>'],
          navContainer: '#customNav',
        });
      });

      $('.js-scroll').click(function(event){
          $('html, body').animate({
              scrollTop: $( $.attr(this, 'href') ).offset().top
          }, 500);
          event.preventDefault();
      });
